@font-face{
	font-family: "Inconsolata";
	src:"graphics/fonts/Inconsolata-Regular.ttf" format("truetype");
}
@font-face{
	font-family: "Cabin";
	src:"graphics/fonts/Cabin-Regular.ttf" format("truetype");
}
@font-face{
	font-family: "Work Sans";
	src:"graphics/fonts/WorkSans-Regular.ttf" format("truetype");
}
@font-face{
	font-family: "Overpass";
	src:"graphics/fonts/Overpass-Regular.ttf" format("truetype");
}
@font-face{
	font-family: "Ubuntu";
	src:"graphics/fonts/Ubuntu-Regular.ttf" format("truetype");
}
@font-face{
	font-family: "Roboto";
	src:"graphics/fonts/Roboto-Regular.ttf" format("truetype");
}
@font-face{
	font-family: "Noto Sans";
	src:"graphics/fonts/NotoSans-Regular.ttf" format("truetype");
}

.f-inconsolata{
	font-family: "Inconsolata", monospace;
}
.f-cabin{
	font-family: "Cabin", sans-serif;
}
.f-worksans{
	font-family: "Work Sans", sans-serif;
}
.f-ubuntu{
	font-family: "Ubuntu", sans-serif;
}
.f-overpass{
	font-family: "Overpass", sans-serif;
}
.f-notosans{
	font-family: "Noto Sans", sans-serif;
}
.f-roboto{
	font-family: "Roboto", sans-serif;
}


body{
	/*		Layout Formatting		*/
	background:#222222;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	/*		Text Formatting		*/
	color: #eeeeee;
	font-size:14px;
}
a{
	color: #cccccc;
}
a:hover{
	color: inherit;
}

/* Settings Icon*/
.settings{
	position: fixed;
	right: 1%;
	top: 2%;
}

/* History */
#history{
	width:96%;
	padding-left: 1%;
	padding-right: 3%;
	overflow-wrap:break-word;
}

/*CLI Prompt*/
.prompt{
	width: 96%;
	padding-left: 1%;
	padding-right: 3%;
	background: #1a1a1a;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.prompt input{
	/*width:100%;*/
	background-color:transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 14.5px;
	outline: none;
	flex-grow: 1;
	/*		Text Formatting		*/
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}